---
layout: page
---

{% assign ep_num = page.url | replace: '/', '' | replace: 'ep', '' | plus: 0 %}
{% if ep_num > 1 %}
    {% assign previous_ep = ep_num | minus: 1 %}
    {% assign previous_url = '/ep' | append: previous_ep | append: '/' %}
{% endif %}
{% if ep_num < 23 %}
    {% assign next_ep = ep_num | plus: 1 %}
    {% assign next_url = '/ep' | append: next_ep | append: '/' %}
{% endif %}

{% for item in site.pages %}
    {% if item.url == previous_url %}
        {% assign previous_title = item.title %}
    {% elsif item.url == next_url %}
        {% assign next_title = item.title %}
    {% endif %}
{% endfor %}

<div id="post-nav" class="clearfix nav-slide">
    <div class="work">
        {% if previous_url %}
        <a class="prev" href="{{ previous_url }}">
            <span class="slide-wrap">← {{ previous_title }}</span>
        </a>
        {% endif %}
        &nbsp;&nbsp;&nbsp;&nbsp;
        {% if next_url %}
        <a class="next" style="float: right" href="{{ next_url }}">
            <span class="slide-wrap">{{ next_title }} →</span>
        </a>
        {% endif %}
    </div>
</div>

<p align="center"><a href="/eps">Tous les épisodes</a></p>

{% if page.vimeo %}
    <a href="{{ page.vimeo }}" target="_blank">
{% else %}
    <a href="{{ page.link }}">
{% endif %}

{% if page.preview %}
    <img src="{{ site.baseurl }}{{ page.preview }}" alt="Aperçu {{ page.title }}" title="{{ page.title }}" />
{% else %}
    <img src="{{ site.baseurl }}static/fautealgo.png" alt="Aperçu {{ page.title }}" title="{{ page.title }}" />
{% endif %}

</a>

{% if page.today %}
<p><strong>C'est aujourd'hui {{ page.date }} à 19 h, 22 h et 1 h, sur Nolife</strong> !</p>
<ul>
<li><a href="http://nolife-tv.com/grille-tv" target="_blank">Voir le programme TV</a></li>
<li><a href="http://nolife-tv.com/grille-twitch" target="_blank">Voir le programme Twitch</a></li>
<li><a href="/eps">Voir les autres épisodes de La Faute à l'algo</a></li>
</ul>

<h2>Liste des chaînes</h2>
<p><img src="/static/nolife.jpg" alt="Voir Nolife" title="Liste des chaînes Nolife"></p>

{% else %}

{% if page.vimeo %}
<p>Émission diffusée le {{ page.date }}.<br />
<a href="{{ page.vimeo }}" target="_blank"><strong>Voir cet épisode sur Vimeo.</strong></a><br />
{% else %}
Cet épisode a été diffusé le <strong>{{ page.date }}</strong> et sera bientôt rediffusé sur <a href="{{ site.atnl }}" target="_blank">la page Vimeo de l'ATNL</a>, merci à eux.
{% endif %}

{% endif %}

{{ content }}

<div class="message">
{{ site.meta }}
</div>

<div class="share-page">
    Partager sur &rarr;
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&amp;url={{ site.url }}{{ page.url }}&amp;via={{ author.twitter }}&amp;related={{ author.twitter }}" rel="nofollow" target="_blank" title="Share on Twitter">Twitter</a> /
    <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">Facebook</a> /
    <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+">Google+</a>
</div>
